@mixin menuIconEffect {
    .hamburger {
        z-index: 111;
        border: 1px solid transparent;

        span {
            &:nth-child(1) {
                width: 20px;
                transition: ease 0.2s;
                transform: rotate(-40deg) translate(-5px, 6px);
                background-color: $white;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                width: 20px;
                transition: ease 0.2s;
                transform: rotate(40deg) translate(-5px, -6px);
                background-color: $white;
            }
        }
    }
}
