.m-company {
    padding: 70px 0;

    @include media-up(m) {
        padding: 100px 0;
    }

    &__infoText {
        margin-bottom: 80px;
        justify-content: center;
        text-align: center;

        @include media-up(xl) {
            text-align: initial;
        }

        &--content {
            @include media-up(xl) {
                flex: 0 0 87%;
                max-width: 87%;
            }

            h2 {
                letter-spacing: -1px;
                line-height: 56px;
                font-weight: 400;
                margin-bottom: 30px;
            }

            h4 {
                letter-spacing: 0;
                line-height: 46px;
                font-weight: 500;
            }
        }
    }

    &__people {
        justify-content: space-between;
        text-align: center;

        @include media-up(xl) {
            text-align: initial;
        }

        &--info {
            display: flex;
            justify-content: center;

            @include media-up(xl) {
                justify-content: initial;
            }

            p {
                &:nth-of-type(1) {
                    font-size: 24px;
                    letter-spacing: 0;
                    line-height: 34px;
                    font-weight: 500;
                    margin-bottom: 6px;
                    white-space: nowrap;
                }

                &:nth-of-type(2) {
                    font-size: 13px;
                    letter-spacing: -0.37px;
                    line-height: 15px;
                    opacity: 0.5;
                    margin-bottom: 0;
                }
            }

            div {
                &:nth-of-type(2) {
                    padding-top: 10px;
                }
            }
        }

        &--description {
            p {
                &:nth-of-type(1) {
                    font-size: 20px;
                    letter-spacing: 0;
                    line-height: 32px;
                    margin-bottom: 20px;
                }

                &:nth-of-type(2) {
                    font-size: 12px;
                    letter-spacing: -0.2px;
                    line-height: 14px;
                    color: $silver;
                    margin-bottom: 0;
                }
            }

            a {
                letter-spacing: -0.2px;
                line-height: 19px;
            }
        }
    }

    &__middleLine {
        margin: 50px 0;
        width: 100%;
        height: 1px;
        border: 0;
        display: block;
        height: 1px;
        background: linear-gradient(
            to right,
            rgba(30, 87, 153, 0) 0%,
            rgba(233, 233, 233, 0.98) 50%,
            rgb(235, 235, 235) 51%,
            rgba(225, 228, 226, 0) 99%,
            rgba(229, 229, 229, 0) 100%
        );
    }
}
