.responsive {
    @include menuIconEffect();

    .m-header__navigation--left nav {
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: $silver;
        display: flex;
        flex-direction: column;
        padding-top: 120px;
        transition: transform 0.2s linear;
        transform: translate3d(0, 0, 0);

        @include media-up(s) {
            width: 60%;
        }

        @include media-up(l) {
            transition: none;
        }
    }

    .m-header__navigation--right {
        .lang {
            z-index: -1;
        }
    }

    .m-header__navigation--right .hamburger .one,
    .m-header__navigation--right .hamburger .three,
    .m-header__navigation--right .hamburger .two {
        background-color: $white;
    }

    .m-header__navigation--right .hamburger {
        border-color: $white;
    }
}
